{% extends 'base.html' %}

{% block content %}

    {% include "navbar.html" %}

    <div class="container">
        {% if user.is_authenticated %}
            <h1>Jogos de Futebol:</h1>
            {% for each_game in games_futebol %}
                <p>{{each_game}}</p>
            {% endfor %}
            <hr>
            <h1>Jogos de Paintball:</h1>
            {% for each_game in games_paintball %}
                <p>{{each_game}}</p>
            {% endfor %}
            <hr>
            <h1>Jogos de LOL:</h1>
            {% for each_game in games_lol %}
                <p>{{each_game}}</p>
            {% endfor %}
            <hr>
            <h1>Jogos de DOTA 2:</h1>
            {% for each_game in games_dota %}
                <p>{{each_game}}</p>
            {% endfor %}
        {% else %}
            <p>You are not logged in</p>
        {% endif %}
    </div>

{% endblock %}


