{% extends 'base.html' %}

{% block content %}

    {% include "navbar.html" %}

    <div class="container">
        {% if user.is_authenticated %}
            <h1>Jogos de Futebol:</h1>
            <br>
            {% for each_game in games_futebol %}
                <a href="{% url 'game_details' pk=each_game.pk %}">
                    <p>{{ each_game.title }} ({{each_game.when_date}} - {{each_game.when_time}})</p>
                </a>
            {% endfor %}
            <hr>
            <h1>Jogos de Paintball:</h1>
            <br>
            {% for each_game in games_paintball %}
                <a href="{% url 'game_details' pk=each_game.pk %}">
                    <p>{{ each_game.title }} ({{each_game.when_date}} - {{each_game.when_time}})</p>
                </a>
            {% endfor %}
            <hr>
            <h1>Jogos de LOL:</h1>
            <br>
            {% for each_game in games_lol %}
                <a href="{% url 'game_details' pk=each_game.pk %}">
                    <p>{{ each_game.title }} ({{each_game.when_date}} - {{each_game.when_time}})</p>
                </a>
            {% endfor %}
            <hr>
            <h1>Jogos de DOTA 2:</h1>
            <br>
            {% for each_game in games_dota %}
                <a href="{% url 'game_details' pk=each_game.pk %}">
                    <p>{{ each_game.title }} ({{each_game.when_date}} - {{each_game.when_time}})</p>
                </a>
            {% endfor %}
        {% else %}
            <p>Você não está logado.</p>
            <br>
            <a href="{% url 'signup' %}" class="button is-white is-outlined"><p>Cadastrar</p></a>
        {% endif %}
    </div>

{% endblock %}


