{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
  <div class="container">
    <img src={% static avatar_static_path %}/>
    <h1 class="title">{{ user_detail.first_name }} {{ user_detail.last_name }}</h1>
    <br>
    <p>Email:</p>
    <p>{{ user_detail.email }}</p>
    <br>
    <p>Telefone:</p>
    <p>{{ user_detail.phone_number }}</p>
    <br>
    <p>Jogos:</p>
    {% for each_game in user_games %}
      <p><b>
        {% if each_game.game_type == 1 %}
          Futebol:  
        {% elif each_game.game_type == 2 %}
          Paintball: 
        {% elif each_game.game_type == 3 %}
          LOL: 
        {% elif each_game.game_type == 4 %}
          Dota 2:
        {% else %}
          Jogo não cadastrado na page details_user: 
        {% endif %}
      </b>
      {{ each_game.title}}</p><span style="font-size: 80%;"> ({{ each_game.when_date }}-{{ each_game.when_time }})</span><br> 
    {% endfor %}  
    {% for each_game in user_games2 %}
      <p><b>
        {% if each_game.game_type == 1 %}
          Futebol:  
        {% elif each_game.game_type == 2 %}
          Paintball: 
        {% elif each_game.game_type == 3 %}
          LOL: 
        {% elif each_game.game_type == 4 %}
          Dota 2:
        {% else %}
          Jogo não cadastrado na page details_user {{each_game.game_type}}: 
        {% endif %}
        </b>
        {{ each_game.title}}</p><span style="font-size: 80%;"> ({{ each_game.when_date }}-{{ each_game.when_time }})</span><br> 
    {% endfor %}  
  




  </div>
{% endblock %}