{% extends 'base.html' %}

{% block content %}

  <div class="container">

    <h1 class="title">{{ user_detail.first_name }} {{ user_detail.last_name }}</h1>
    <br>
    <p>Email:</p>
    <p>{{ user_detail.email }}</p>
    <br>
    <p>Telefone:</p>
    <p>{{ user_detail.phone_number }}</p>
    <br>
    <p>Jogos:</p>
    {% for each_game in user_games %}
      <p>{{ each_game }}</p> 
    {% endfor %}
    {% for each_game in user_games2 %}
      <p>{{ each_game }}</p> 
    {% endfor %}  
  




  </div>
{% endblock %}