{% extends 'base.html' %}

{% block content %}

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/edit_phone_number.css' %}">


  <div class="container edit">

    <h2>Alterar Telefone</h2>
    <hr>
    {% if user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Telefone</label><br>
            {{ form.phone_number.errors }}
            {{ form.phone_number }}
            <br>
            <br>
            <button type="submit">Alterar</button>
        </form>
    {% else %}
      <p>Primeiro faça login.</p>
    {% endif %}
  </div>
{% endblock %}